
@font-face {
    font-family: "Kanit";
    src: url("../resources/fonts/Kanit/Kanit-Regular.ttf");
}
@font-face {
    font-family: "KanitBold";
    src: url("../resources/fonts/Kanit/Kanit-Bold.ttf");
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

    font-family: 'Kanit', Arial, sans-serif;


}

html {
  scroll-behavior: smooth;
}
/* * { //debugging!
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */


body {
    color: white;
    background-color: #010015;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../resources/images/comedy-genhashino.jpeg);
    background-position: center;
    background-repeat:initial;
    background-size: cover;

    display: flex;
    flex-direction: column;
    text-align : center;
    justify-content: center;

    min-height: 100vh;
    padding: 16px;
    gap: 16px;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align : center;
    justify-content: center;
    gap: 16px;

    /* border-style: solid;
    border-color: white;
    border-width: 5px; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.musicBox {
    width: 350px;
    height: 350px;
    /* box-shadow: -5px 5px 5px lightgray */
}
.musicBox>* {
    position: relative;
    top: 0;
    right: 0;
    transition: all ease 0.5s;
    width: 350px;
    height: 350px;
}

.musicBox>*:hover {
    top: -5px;
    right: -2px;
}

.musicContainer {
    display: flex;
    gap: 16px;
}



#hero>* {
    color: white;
}

#heroTitle {
    text-align: center;
    font-size: 64px;
    letter-spacing: -5px;
    font-family: 'KanitBold', Arial, sans-serif;
}
#heroScroller {
    animation: 4s ease-out 0s 1 slideInFromBottom;

    text-align: center;
    position: relative;
    top: 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}



.section {
    font-size: xx-large;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}
#currentInfo {
    text-align: right;
}
#currentInfo>* {
    position: relative;
    top: 0;
    right: 0;
    transition: all ease 0.5s;
}
#currentInfo>*:hover {
    top: -5px;
    right: -2px;
}
#currentlyListeningBox {
    display: flex;
    gap: 128px;
}
#currentName {
    font-style: italic;
    letter-spacing: -5px;
    font-family: 'KanitBold', Arial, sans-serif;
    font-size: 64px;
}
/* #favorites {

}
#suggestions {

} */



.subtitle {
    text-align: center;
    font-size: x-large;
}

.icon {
    position: relative;
    bottom: 0;
    transition: all ease 0.5s;

    width: 25px;
    height: 25px;
}
.icon:hover {
    bottom: -5px;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0%;
      transform: translateY(100%);
    }
    75% { 
        opacity: 0%;
        transform: translateY(100%)
    }
    90% {
        opacity: 100%;
      transform: translateY(-6%);
    }
    100% {
        opacity: 100%;
      transform: translateY(0);
    }
  }

@media only screen and (max-width: 767px) {
    /* phones */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}