/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

    font-family: 'Kanit', Arial, sans-serif;


}

body {
    color: white;
    background-color: #010015;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../resources/images/comedy-genhashino.jpeg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}



@font-face {
    font-family: "Kanit";
    src: url("../resources/fonts/Kanit/Kanit-Regular.ttf");
}
@font-face {
    font-family: "KanitBold";
    src: url("../resources/fonts/Kanit/Kanit-Bold.ttf");
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.musicBox {
    width: 250px;
    height: 250px;
    /* box-shadow: -5px 5px 5px lightgray */
}
.musicBox>* {
    position: relative;
    top: 0;
    right: 0;
    transition: all ease 0.5s;
    width: 250px;
    height: 250px;
}

.musicBox>*:hover {
    top: -5px;
    right: -2px;
    width: 250px;
    height: 250px;
}

.musicContainer {
    display: flex;
    gap: 16px;
}


.section {
    height: 500px;
}

#heroTitle {
    font-size: 64px;
    letter-spacing: -5px;
    font-family: 'KanitBold', Arial, sans-serif;
}

#favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#currentlyListening {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../resources/images/heroImage.jpg);
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; */

    height: 700px; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#hero>* {
    color: white;
}

#heroSubtitle {
    font-size: x-large;
}